body{
    background-image: url(../img/fondo.admi2.jpg);
    background-size: 100%;
}




.contenedor{
    text-align: center;
    color: white;

}


.tamaño{
    width: 50%;
}




.tabla{
    display: grid;
    grid-template-columns: 49% 2% 49%;
    text-align: center;
    color: white;

}