body{
    background-image: url(../img/fondoRegistro.jpg);
    background-size: 100%;
    
}

.contenedor23{
    text-align: center;
    
}
:any-link{
    text-decoration: none;
    color: black
}

h3{
    font-size: 80%;
}



