body{
    background-image: url(../img/fondoINISE.jpg);
    background-size: 100%;

}


.contenedor{
   text-align: center;
   color: white;
}


:any-link{
    text-decoration: none;
    color: white
}


h3{
    font-size: 80% ;
}